.App {
  max-width:400px;
  display:flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:auto;
 
}

h1{
  color: #a339a0;
  font-size: 45px;
}

.button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 40px;
  border-radius: 0.5em;
  border: none;
  color: #fff;
  background: #a339a0;
  outline: none;
  padding: 0.3rem 1.8rem 0.3rem 1.8rem;
}

.button:hover {
  color: #FFC0CB;
  border: none;
  outline: 0;
}

.button:active {
  border: none;  
}

.input {
  height:2px;
  background-color: rgb(230, 191, 223);
  color: black;
  outline: none;
  padding: 20px 20px;
  border-radius: 0.5em;
  border: none;
  position: relative;
  margin: 5px;


}
